<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="">Product Name:</label>
        <input type="text" id="" name="e_name" value="<%=e[0].Pname%>">
        <br>
        <label for="">Price:</label>
        <input type="number" id="" name="e_price" value="<%=e[0].P_price%>">
        <br>
        <label for="">url</label>
        <input type="text" id="" name="e_url" value="<%=e[0].url%>">   
    </form>
</body>
</html>