<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>

<body>

    <h2>Add Product</h2>

    <form action="/product/form" method="POST">

    <input type="text" name="Pname" placeholder="Name" required>
    <br><br>

    <input type="number" name="Pprice" placeholder="Price" required>
    <br><br>

    <textarea name="Pdesc" placeholder="Description"></textarea>
    <br><br>

    <input type="url" name="Pimg" placeholder="Image URL">
    <br><br>

    <button type="submit">Add Product</button>

</form>

</body>

</html>