<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product product via post method</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="P_name">Product Name:</label>
        <input type="text" id="P_name" name="P_name" placeholder="Enter product name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>